[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-aiohttp = "==0.3"
wemake-python-styleguide = "*"
coverage = "*"
pytest-cov = "*"

[packages]
aiohttp = "==3.6.2"
motor = "==2.1.0"
tartiflette-aiohttp = "==1.1.0"
aiohttp-cors = "==0.7.0"
dnspython = "*"
pyjwt = "==1.7.1"

[requires]
python_version = "3.8"
